{release,
 {mixr, "1.0.1-pre"}, [mixr, eutils, goldrush, lager, cowboy, cowlib, ranch, mnesia, eredis]}.
{boot, [mixr]}.
{output_dir, "_jorel"}.
{exclude_dirs, ["**/_jorel/**", "**/_rel*/**", "**/test/**"]}.
{sys_config, "config/mixr.prod.config"}.
{vm_args, "config/vm.prod.args"}.
{include_erts, true}.
{disable_relup, true}.
{providers, [jorel_provider_dockerize]}.
{dockerize, [
  {remove_origins, false},
  {remove_dockerfiles, true},
  {output_dir, "_jorel_docker"},
  {clean_build, true},
  {maintainer, "Gregoire Lejeune <gregoire.lejeune@botsunit.com>"},
  {build, [
    % {jorel_config, "jorel.prod.config"},
    {from, "glejeune/alpine-jorel-build"},
    {prebuild, [
    ]},
    {postbuild, [
    ]}
  ]},
  {release, [
    {from, "glejeune/alpine-jorel-release-kubernetes"},
    {prerelease, [
    ]},
    {postrelease, [
      {run, "mkdir -p /data"},
      {volume, ["/data"]},
      {expose, [11212]}
    ]}
  ]}
]}.
