{release,
 {mixr, "1.0.2-pre"}, [mixr, bucs, goldrush, lager, cowboy, cowlib, ranch, mnesia, eredis, doteki]}.
{boot, [mixr]}.
{output_dir, "_jorel"}.
{exclude_dirs, ["**/_jorel/**", "**/_rel*/**", "**/test/**"]}.
{sys_config, "config/mixr.config"}.
{vm_args, "config/vm.args"}.
{include_erts, true}.
{disable_relup, true}.
{providers, [jorel_provider_tar, jorel_provider_zip, jorel_provider_deb, jorel_provider_git_tag]}.
{deb,
 [{author_name, "Gregoire Lejeune"},
  {author_email, "gregoire.lejeune@free.fr"},
  {install_user, "mixr"},
  {install_user_desc, "Mixr user"},
  {package_url, "http://github.com/emedia-project/mixr"},
  {package_git, "http://github.com/emedia-project/mixr"},
  {package_shortdesc, "Memcached rewriten in pure Erlang"},
  {package_desc, "Memcached rewriten in pure Erlang"},
  {package_depends, "libc6 (>= 2.4)"},
  {license_type, "BSD"},
  {copyright, "2015 Gregoire Lejeune"}]}.
