{deps,
 [{mixr_freegeoip, ".*",
   {git, "https://github.com/emedia-project/mixr_freegeoip.git",
    {branch, "master"}}},
  {eredis, ".*",
   {git, "https://github.com/wooga/eredis.git",
    {branch, "master"}}},
  {cowboy, ".*",
   {git, "https://github.com/ninenines/cowboy.git",
    {branch, "master"}}},
  {bucs, ".*",
   {git, "https://github.com/botsunit/bucs.git",
    {branch, "master"}}},
  {lager, ".*",
   {git, "https://github.com/basho/lager.git",
    {branch, "master"}}}]}.
{erl_opts, [debug_info, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.
