{release, {mixr, "1.0.0-pre"},
 [mixr,
  eutils,
  goldrush,
  lager,
  cowboy,
  cowlib,
  ranch]}.
{boot, [mixr]}.
{output_dir, "_xrel"}.
{exclude_path, ["_xrel", "_relx", "_rel", "test"]}.
{sys_config, "config/mixr.config"}.
{vm_args, "config/vm.args"}.
{providers, [
  xrel_provider_tar,
  xrel_provider_zip
]}.

