[
  {mixr, [
    {ip, undefined},
    {port, 11212},
    {store, {mixr_mnesia_store, [
      {path, "/data/mixr.db"}
    ]}},
    {search_policy, first_s},
    {auto_discover, [
      {enable, false},
      {addr, {226,0,0,1}},
      {port, 6969},
      {multicast_ttl, 1}
    ]},
    {rest, [
      {port, 21212},
      {enable, false}
    ]},
    {plugins, [
    ]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/mixr_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/mixr_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/mixr_console.log"}, {level, info}]}
    ]}
  ]}
].
