[
  {mixr, [
    {ip, undefined},
    {port, 11212},
    %{store, mixr_mem_store},
    %{store, {mixr_ets_store, [
    %  {file, "/tmp/data.mixr"},
    %  {tid, mixr}
    %]}},
    {store, {mixr_mnesia_store, [
      %{path, "mixr.db"}
    ]}},
    %{store, {mixr_redis_store, [
    %  {host, "localhost"},
    %  {port, 6379},
    %  {database, 0},
    %  {password, ""},
    %  {reconnect_sleep, 100},
    %  {timeout, 3000},
    %  {namespace, "mixr"}
    %]}},
    {search_policy, first_s}, % first, higher_cas, lower_cas, local // *_s
    {auto_discover, [
      {enable, true},
      {addr, {226,0,0,1}},
      {port, 6969},
      {multicast_ttl, 1}
    ]},
    {rest, [
      {port, 21212},
      {enable, true}
    ]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/mixr_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/mixr_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/mixr_console.log"}, {level, info}]}
    ]}
  ]}
].
